<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>cars.servlets.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>cars.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cars.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdvertServlet</servlet-name>
    <servlet-class>cars.servlets.AddAdvertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllAdvertsServlet</servlet-name>
    <servlet-class>cars.servlets.AllAdvertsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <servlet-class>cars.servlets.DownloadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>cars.servlets.UploadPhotoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdvertServlet</servlet-name>
    <url-pattern>/addadvert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllAdvertsServlet</servlet-name>
    <url-pattern>/adverts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <url-pattern>/downloadphoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/uploadphoto</url-pattern>
  </servlet-mapping>

</web-app>
